{% load static %}

<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarTogglerDemo03"
    aria-controls="navbarTogglerDemo03" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <a class="navbar-brand" href="/">Object Tracking</a>

  <div class="collapse navbar-collapse" id="navbarTogglerDemo03">
    <ul class="navbar-nav mr-auto mt-2 mt-lg-0">
      <li class="nav-item active">
        <a class="nav-link" href="/">Home<span class="sr-only">(current)</span></a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="{% url 'deepsort:test' %}">Test</a>
      </li>
    </ul>
    <ul class="navbar-nav ml-auto">
      {% if user.is_authenticated %}
      <li>
        <a class="nav-link" href="{% url 'deepsort:test' %}">
          Welcome, {{ user.username }}</a>
      </li>
      <li class="nav-item mr-3">
        <a href="javascript:{document.getElementById('logout').submit()}" class="nav-link">
          <i class="fas fa-sign-out-alt"></i> Logout
        </a>
        <form action="{% url 'accounts:account_logout' %}" method="POST" id="logout">
          {% csrf_token %}
          <input type="hidden">
        </form>
      </li>
      {% else %}
      <li>
        <a class="nav-link" href="{% url 'accounts:account_register' %}">
          <i class="fas fa-user-plus"></i> Register</a>
      </li>
      <li>
        <a class="nav-link" href="{% url 'accounts:account_login' %}">
          <i class="fas fa-sign-in-alt"></i>
          Login</a>
      </li>
      {% endif %}
  </div>
</nav>